        <div class="max-width thankyou">
            <h1 class="page-heading">Thank You for Contacting Us!</h1>
            <main class="main-content thankyou">
                <div class="row">
                    <article class="col-12 col-md-4 photo-with-caption">
                        <div class="thumbnail-background-wrapper">
                            <div class="thumbnail-background-inner" style="background-image: url('images/mother-son-back.jpg');"></div>
                        </div>
                        <p>Thank you for contacting Guru Nanak Dwara. It's people like you who help make Guru Nanak Dwara a neighborhood sanctuary with a global impact.</p>
                    </article>
                    <article class="col-12 col-md-4 photo-with-caption">
                        <div class="thumbnail-background-wrapper">
                            <div class="thumbnail-background-inner" style="background-image: url('images/kids-drums.jpg');"></div>
                        </div>
                        <p>With your continued support, we will be able to maintain our world class Gurdwara facility and execute the plans to build additional infrastructure such as: Kid's Playground, Children's School, and Community Lodging.</p>
                    </article>
                    <article class="col-12 col-md-4 photo-with-caption">
                        <div class="thumbnail-background-wrapper">
                            <div class="thumbnail-background-inner" style="background-image: url('images/mics-singing.jpg');"></div>
                        </div>
                        <p>As we look to the future, we're convinced the best is yet to come! Thank You for supporting the future of our community.</p>
                    </article>
                </div>
                <div class="row">
                    <article class="col-12 col-md-4">
                        <span class="line"></span>
                        <p>Please follow us on Social Media:</p>
                        <div class="row row-flush social-media">
                            <div class="col-3 col-md-6">
                                <a href="https://www.facebook.com/gurunanakdwara/" class="social-media" title="GND Facebook Page" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                            <div class="col-3 col-md-6">
                                <a href="https://www.instagram.com/gurunanakdwara/" class="social-media" title="GND Instagram Page" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div class="col-3 col-md-6">
                                <a href="https://www.youtube.com/c/GuruNanakDwara" class="social-media" title="GND YouTube Channel" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                            <div class="col-3 col-md-6">
                                <a href="https://twitter.com/gurunanakdwara" class="social-media" title="GND Twitter Page" target="_blank">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="col-12 col-md-4 video">
                        <span class="line"></span>
                        <p>See why contacting us matters:</p>
                        <div class="video-wrapper">
                            <iframe src="https://www.youtube-nocookie.com/embed/M2G6l-wls0E?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </article>
                    <article class="col-12 col-md-4 events">
                        <span class="line"></span>
                        <p>Don't miss an upcoming Event:</p>
                        <a href="events.html#events" class="button">View Events</a>
                    </article>
                </div>
            </main>
        </div>
       
        <script src="js/main.js"></script>
        <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    </body>
</html>
