<div class="splash-wrapper ss">
    <div class="splash-inner startserving"></div>
</div>
<div class="max-width">
    <main class="main-content">
        <h1 class="page-heading">Start Serving</h1>
        <p class="startServingFormIntro">As Guru Nanak Dwara functions through the Seva (selfless service) efforts of the Sadh Sangat, please tell us how you’d like to contribute in your own unique way!</p>
        <!-- 
            Path should be: /screen/subscreen/transition ------------
            So, it should be: /m/startserving/createRequest
            Paths tried: -------------------
            /m/startserving/createRequest
            /startserving/createRequest 
            /moqui-org/startserving/createRequest
            /apps/moqui-org/startserving/createRequest
            /apps/m/startserving/createRequest
            /moqui.org/startserving/createRequest
            /webroot/m/startserving/createRequest
            /webroot/moqui-org/startserving/createRequest
            /webroot/moqui-org/startserving.html.xml/createRequest
            /m/startserving.html.xml/createRequest
            /webroot/m/startserving.html.xml/createRequest
            after changing name ------------------
            /moqui-org/startserving/createRequest
            /webroot/moqui-org/startserving/createRequest
            /apps/moqui-org/startserving/createRequest
            /moqui-framework/runtime/component/moqui-org/screen/moqui.org/startserving/createRequest
            /moqui-org/screen/moqui.org/startserving/createRequest
            /webroot/moqui.org/startserving/createRequest
            /apps/moqui.org/startserving/createRequest
            component://moqui-org/screen/moqui.org/startserving/createRequest
            /webroot/moqui-org/screen/moqui.org/startserving/createRequest
            /StartServing/createRequest
            /startserving/createRequest
            /webroot/startserving/createRequest
            /moqui.org/startserving/createRequest
            /startserving/startserving/createRequest
            /startserving/moqui-org/startserving/createRequest
         --> 
        <form method="post" action="/moqui-org/startserving/createRequest" class="ssForm">
            <input type="hidden" id="redirect" name="redirect" value>
            <fieldset class="contact">
                <legend>Contact Information</legend>
                <div class="row row-flush flex-required">
                    <div class="col col-9 col-md-4">
                        <label for="firstName">First Name<sup>*</sup></label>
                        <input name="firstName" type="text" pattern=".{2,}" required data-value-missing="Please enter your First Name" data-pattern-mismatch="Please re-enter your First Name">
                    </div>
                    <div class="col col-2 offset-1">
                        <label for="middleName">M.I.</label>
                        <input name="middleName" type="text">
                    </div>
                    <div class="col col-12 col-md-4 offset-md-1">
                        <label for="lastName">Last Name<sup>*</sup></label>
                        <input name="lastName" type="text" pattern=".{2,}" required data-value-missing="Please enter your Last Name" data-pattern-mismatch="Please re-enter your Last Name">
                    </div>
                </div>
                <div class="row row-flush">
                    <div class="col col-12 col-md-6">
                        <label for="emailAddress">Email Address<sup>*</sup></label>
                        <input name="emailAddress" size="30" type="email" required data-value-missing="Please enter your Email Address" data-pattern-mismatch="Please enter a valid Email Address">
                    </div>
                    <div class="col col-6 col-md-5 offset-md-1">
                        <label for="contactNumber">Phone Number<sup>*</sup></label>
                        <input id="contactNumber" name="contactNumber" class="input" type="tel" required pattern="\d{3}[\-]{0,1}\d{3}[\-]{0,1}\d{4}" data-value-missing="Please enter 10-digit Phone Number" data-pattern-mismatch="Please enter 10-digit Phone Number">
                    </div>
                </div>
                <div class="row row-flush">
                    <div class="col col-12 col-md-6">
                        <label for="address1">Residential Address<sup>*</sup></label>
                        <input name="address1" class="input" type="text" size="35" required pattern=".{3,}" data-value-missing="Please enter your Address" data-pattern-mismatch="Please enter a valid Address">
                    </div>
                    <div class="col col-12 col-md-5 offset-md-1">
                        <label for="unitNumber">Apt. #, Unit #</label>
                        <input name="unitNumber" type="text">
                    </div>
                </div>
                <div class="row row-flush">
                    <div class="col col-6 col-md-2">
                        <label for="postalCode">ZIP Code<sup>*</sup></label>
                        <input name="postalCode" type="tel" pattern="[0-9]{5}" required data-value-missing="Please enter your ZIP Code" data-pattern-mismatch="Please enter a valid ZIP Code">
                    </div>
                    <div class="col col-12 col-md-4 offset-md-1">
                        <label for="city">City<sup>*</sup></label>
                        <input name="city" type="text" required pattern=".{2,}" data-value-missing="Please enter your City" data-pattern-mismatch="Please enter a valid City">
                    </div>
                    <div class="col col-12 col-md-4 offset-md-1">
                        <label for="stateProvinceGeoId">State<sup>*</sup></label>
                        <select name="stateProvinceGeoId" required data-value-missing="Please select your State">
                            <option class="blank label"></option>
                            <option value="USA_AL" class="state">Alabama</option>
                            <option value="USA_AK" class="state">Alaska</option>
                            <option value="USA_AZ" class="state">Arizona</option>
                            <option value="USA_AR" class="state">Arkansas</option>
                            <option value="USA_CA" class="state">California</option>
                            <option value="USA_CO" class="state">Colorado</option>
                            <option value="USA_CT" class="state">Connecticut</option>
                            <option value="USA_DE" class="state">Delaware</option>
                            <option value="USA_DC" class="state">District Of Columbia</option>
                            <option value="USA_FL" class="state">Florida</option>
                            <option value="USA_GA" class="state">Georgia</option>
                            <option value="USA_HI" class="state">Hawaii</option>
                            <option value="USA_ID" class="state">Idaho</option>
                            <option value="USA_IL" class="state">Illinois</option>
                            <option value="USA_IN" class="state">Indiana</option>
                            <option value="USA_IA" class="state">Iowa</option>
                            <option value="USA_KS" class="state">Kansas</option>
                            <option value="USA_KY" class="state">Kentucky</option>
                            <option value="USA_LA" class="state">Louisiana</option>
                            <option value="USA_ME" class="state">Maine</option>
                            <option value="USA_MD" class="state">Maryland</option>
                            <option value="USA_MA" class="state">Massachusetts</option>
                            <option value="USA_MI" class="state">Michigan</option>
                            <option value="USA_MN" class="state">Minnesota</option>
                            <option value="USA_MS" class="state">Mississippi</option>
                            <option value="USA_MO" class="state">Missouri</option>
                            <option value="USA_MT" class="state">Montana</option>
                            <option value="USA_NE" class="state">Nebraska</option>
                            <option value="USA_NV" class="state">Nevada</option>
                            <option value="USA_NH" class="state">New Hampshire</option>
                            <option value="USA_NJ" class="state">New Jersey</option>
                            <option value="USA_NM" class="state">New Mexico</option>
                            <option value="USA_NY" class="state">New York</option>
                            <option value="USA_NC" class="state">North Carolina</option>
                            <option value="USA_ND" class="state">North Dakota</option>
                            <option value="USA_OH" class="state">Ohio</option>
                            <option value="USA_OK" class="state">Oklahoma</option>
                            <option value="USA_OR" class="state">Oregon</option>
                            <option value="USA_PA" class="state">Pennsylvania</option>
                            <option value="USA_RI" class="state">Rhode Island</option>
                            <option value="USA_SC" class="state">South Carolina</option>
                            <option value="USA_SD" class="state">South Dakota</option>
                            <option value="USA_TN" class="state">Tennessee</option>
                            <option value="USA_TX" class="state">Texas</option>
                            <option value="USA_UT" class="state">Utah</option>
                            <option value="USA_VT" class="state">Vermont</option>
                            <option value="USA_VA" class="state">Virginia</option>
                            <option value="USA_WA" class="state">Washington</option>
                            <option value="USA_WV" class="state">West Virginia</option>
                            <option value="USA_WI" class="state">Wisconsin</option>
                            <option value="USA_WY" class="state">Wyoming</option>
                            <option value="USA_AS" class="state">American Samoa</option>
                            <option value="USA_GU" class="state">Guam</option>
                            <option value="USA_MP" class="state">Northern Mariana Islands</option>
                            <option value="USA_PR" class="state">Puerto Rico</option>
                            <option value="USA_UM" class="state">United States Minor Outlying Islands</option>
                            <option value="USA_VI" class="state">Virgin Islands</option>
                            <option value="USA_AA" class="state">Armed Forces Americas</option>
                            <option value="USA_AP" class="state">Armed Forces Pacific</option>
                            <option value="USA_AE" class="state">Armed Forces Others</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="serve">
                <legend>Ways to Serve</legend>
                <div class="row row-flush">
                    <section class="ways-to-serve col-md-6">
                        <div class="row row-flush">
                            <label for="requestName">How would you like to start serving?</label>
                            <select class="serve-options" name="requestName">
                                <option></option>
                                <option value="Fundraising" class="serve-option">Fundraising</option>
                                <option value="Program Development" class="serve-option">Program Development</option>
                                <option value="Operations" class="serve-option">Operations</option>
                                <option value="Security" class="serve-option">Security</option>
                                <option value="Marketing" class="serve-option">Marketing</option>
                                <option value="Event Production" class="serve-option">Event Production</option>
                                <option value="Public Relations" class="serve-option">Public Relations</option>
                                <option value="Guru Ka Langar" class="serve-option">Guru Ka Langar</option>
                                <option value="Khalsa Youth Training " class="serve-option">Khalsa Youth Training </option>
                                <option value="Marble Perkarma" class="serve-option">Marble Perkarma</option>
                                <option value="Ramala Set Up" class="serve-option">Ramala Set Up</option>
                                <option value="Kirtan, Ardas or Hukham" class="serve-option">Kirtan, Ardas or Hukham</option>
                                <option value="Akhand Path" class="serve-option">Akhand Path</option>
                            </select>
                        </div>
                        <div class="row row-flush">
                            <label for="description">Tell us how you can serve in your own unique way:</label>
                            <textarea rows="4" name="description"></textarea>
                        </div>
                        <div class="row send-me-newsletters">
                            <label for="mailinglist" class="with-square-checkbox">
                                <input type="checkbox" checked id="mailinglist" name="mailinglist" value="mailing_list_yes">
                                <span class="fa fa-check"></span>
                                <p class="send-me-caption">Send me newsletters about <span class="nowrap">Guru Nanak Dwara.</span></p>
                            </label>
                        </div>
                        <button type="submit" id="startServingSubmit">Submit</button>
                    </section>
                    <section class="photo col-md-6">
                        <div class="thumbnail-background-wrapper">
                            <div class="thumbnail-background-inner"></div>
                        </div>
                    </section>
                </div>
            </fieldset>
        </form>
        <script>

            // const currentURL = window.location.href.toString();
            // let redirectURL = currentURL.replace('startserving.html', 'startserving-thankyou.html');
            // document.getElementById('redirect').setAttribute('value', redirectURL);

            var wrapper = hyperform(window, {
                preventImplicitSubmit: true
            });

            hyperform.setRenderer('attachWarning', function (warning, element) {
                element.parentNode.appendChild(warning);
                element.parentNode.className += ' error-box';
            });

            function phoneMask() {
                var num = $(this).val().replace(/\D/g, '');
                $(this).val(num.substring(0, 3) + '-' + num.substring(3, 6) + '-' + num.substring(6, 10));
            }
            $('#phonenumber').change(phoneMask);

            $("form").submit(function () {
                $("#startServingSubmit").text('Thank You').addClass('clicked');
            });
        </script>
    </main>
</div>