/* media queries to match Bootstrap / Shoelace grid options for sm, md, lg, and xl */

body  {
	background: none;
}

/* Styles for active nav item */
.active-item a.nav-link {
	color: #60cbd7;
}

.header {
	position: relative;
	z-index: 999;
}

.home-video-wrapper {
	display: none;
}

.home-video-wrapper  .big-buttons {
	display: none;
}

.tile-background {
	padding-top: 55px;
	background-color: #2ac6df;
	background-image: url('../images/gnd-tile.jpg');
	background-position: center 320px;
	background-repeat: repeat-y;
	background-size: contain;
}

.see-through-background article {
	color: #fcf4c9;
}

.see-through-background.history p {
	font-weight: normal;
	/* font-family: 'Roboto'; */
	line-height: 180%;
}

.big-buttons {
	max-width: 320px;
	margin-right: auto;
	margin-left: auto;
}

a.home-button {
	background-color: rgba(255, 255, 255, 0.35);
	border-radius: 2px;
	border: 1px solid white;
	color: white;
	text-shadow: 0px 0px 2px black;
	display: block;
	font-size: 1.3em;
	height: 50px;
	margin: 0 auto 35px auto;
	opacity: none;
	text-decoration: none;
	text-transform: uppercase;
	min-width: 200px;
	width: 90%;
	max-width: 320px


}

a.home-button:hover {
	background-color: rgba(255, 255, 255, 0.65);
	color: #666;
	text-shadow: none;
}

a.home-button span {
	display: inline-block;
	margin-top: 12px;
	text-align: center;
	width: 100%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (min-width: 768px) {

	body {
		padding-top: 0;
	}

	.home-video-wrapper {
		display: block;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		margin-bottom: 0
	}

	.home-video-wrapper .home-video-inner {
		background-color: #666;
		background-image: url(img/home_video_placeholder_1200x699.jpg);
		background-repeat:  no-repeat;
		background-position: center center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.home-video-wrapper .home-video-inner iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		animation: fadein 5s;
	}

	.home-video-wrapper .big-buttons {
		display: flex;
		z-index: 11;
		max-width: none;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -20%);
		top: 70%;
		width: 80%
	}

	.home-video-wrapper .big-buttons a.home-button {
		margin-bottom: 0;
		max-width: 30%;
	}

	.main-content.home .big-buttons {
		display: none;
	}


	.tile-background {

		padding-top: 55px
	}


	.tile-background .lotus-background { 
		width: 100%;
		background-image: url("../images/lotus.png");
		background-position: center 320px;
		background-size: contain;
		background-repeat: no-repeat;
	}


	.tile-background .lotus-background main.main-content.home {
		max-width: 1090px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.splash-wrapper.home {
		display: none;
	}

	main.main-content section.see-through-background h1.module-header {
		font-size: 48px;
	}

}

/* media medium-up */

#header.hidden {
	display: none;
}

#header {
	position: fixed;
	top: 0;
	display: block;
	transition: transform 0.7s .3s ease;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0px, 0px, 0px);
  }

#header.hide-nav-bar {
	transform: translate(0, -100%);
	-webkit-backface-visibility: hidden;
}

.splash-wrapper.home {
	height: 0;
	padding-bottom: 30.94%; /* 297 divided by 960 */
	position: relative;
	margin: 0
}

.splash-wrapper.home .splash-inner.home {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 149px;
	background-image: url('../images/home-splash-image.jpg');
	background-color: #7a7777;
}

.tile-background {
	max-width: 100%;
	margin: 0;
	padding-bottom: 28px
}

.tile-background main.main-content.home {
	margin-right: auto;
	margin-left: auto;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 0;
}
