/* media queries to match Bootstrap / Shoelace grid options for sm, md, lg, and xl */

body {
	/* font-family: 'Roboto'; */
	padding-top: 87px;
	background: none;
}

.splash-wrapper {
	height: 0;
	padding-bottom: 41.39%; /* 149 divided by 360 */
	position: relative;
	margin: 0
}

.splash-wrapper .splash-inner {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 149px;
	background-image: url('../images/newhere/newhere-splash-image.jpg');
	background-color: #92877e;
}

.tile-background {
	padding: 29px 0;
	background-color: #2ac6df;
	background-image: url('../images/gnd-tile.jpg');
	background-position: center 320px;
	background-repeat: repeat-y;
	background-size: contain;
}

main.main-content.newhere {
	margin: 0 auto;
	max-width: 1090px
}

main.main-content.newhere section.see-through-background form input[type="email"] {
	border-color: white;
}

main.main-content.newhere section.welcome-container.see-through-background  {
	border-radius: 8px;
	color: #fcf4c9;
	width: auto;
	padding-bottom: 22px;
}

main.main-content.newhere section.welcome-container.see-through-background h1 {
	font-size: 2.0em;
	letter-spacing: .3px;
	margin: 0;
	padding: 13px 0x;
	text-align: center;
}

main.main-content.newhere section.welcome-container.see-through-background p {
	font-size: 16px;
	letter-spacing: .4px;
	line-height: 1.55;
	margin: 0;
	padding: 0  0 14px;
}

main.main-content.newhere section.welcome-container.see-through-background .video-container {
	overflow: hidden;
	padding-bottom: 56.25%;/* 315 divided by 560 */
	position: relative;
	height: 0;
	margin: 0;
}

main.main-content.newhere section.welcome-container.see-through-background .video-container iframe {
	height: 100%;
	position: absolute;
	width: 100%;
}

article {

	color: #fcf4c9
}

article p {
	font-size: 16px;
	line-height: 24px;
}

article a {
	color: #f6914a;
	text-decoration: none;
}

article .thumbnail-background-wrapper {
	height: 0;
	margin: 0 0 15px 0;
	padding-bottom: 66.66%;/* 294 divided by 441 */
	position: relative;
}

article .thumbnail-background-wrapper .thumbnail-background-inner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	clear: both;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media only screen and (min-width: 768px) {

	.splash-wrapper {
		padding-bottom: 35.5%; /* 426 divided by 1200 */
	}

	.tile-background {

		padding: 63px 0
	}

	.tile-background .lotus-background {
		width: 100%;
		background-image: url(../images/lotus1200x533.png);
		background-position: center 320px;
		background-size: contain;
		background-repeat: no-repeat;
	}

 	main.main-content.newhere {
		max-width: 1090px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px
	}

 	main.main-content.newhere section.see-through-background {
		margin-bottom: 0;
	}

 	main.main-content.newhere section  a.call2action {
		font-size: 110%;
		font-weight: bold;
		line-height: normal;
	}

 	main.main-content.newhere div.lotus {
		background: url('../images/lotus143x230.png') no-repeat;
		width: 143px;
		height: 230px;
		margin: -80px auto;
		z-index: 2;
		position: relative;
	}

 	main.main-content.newhere div.desktop-merge {
		background-color: rgba(0, 0, 0, 0.55);
		border-radius: 8px;
	}

 	main.main-content.newhere div.desktop-merge section.see-through-background {
		background: none;
	}

 	main.main-content.newhere div.desktop-merge h1.module-header {
		margin-top: 10px;
		margin-bottom: 15px;
	}

 	main.main-content.newhere div.desktop-merge .desktop-white-box {
		min-height: 472px;
		background-color: rgba(255, 255, 255, 0.55);
		margin-bottom: 1em;
	}

 	main.main-content.newhere div.desktop-merge  .get-connected .desktop-white-box {
		background-image: url('img/lotus272x272.png');
		background-repeat: no-repeat;
		background-position: right bottom;
	}

 	main.main-content.newhere div.desktop-merge .directions .desktop-white-box iframe {
		height: 411px;
	}

	body > div.tile-background > div > main > div:nth-child(7) > section.see-through-background.get-connected.col-md-6 > div > article {
		padding-top: 31px;
	}

 	main.main-content.newhere article.social-media .big-icon-and-title {
		width: 50%;
	}

 	main.main-content.newhere article.social-media .big-icon-and-title a img {
		height: 125px;
		width: 125px;
		border-radius: 61px;
	}

}

/* media */